<% console.log($.toJSON(groups)); %>
<% if ($.isEmptyObject(groups)) { %>
    <p>No groups found...</p>
<% } else { %>
   <table>
       <thead>
           <tr>
			   <th>Id</th>
               <th>Name</th>
           </tr>
       </thead>
       <tbody>

           <% for each(group in groups) { %>
               <tr class="group-item" id="group-<%= group.id %>">
				   <td><%= group.id %></td>
                   <td><%= group.name %></td>
               </tr>
           <% } %>
       </tbody>
   </table>
<% } %>