.project
.classpath
target
.settings
.DS_Store
resthub-apps/booking/booking-core/src/main/java/META-INF/MANIFEST.MF
resthub-apps/booking/booking-js/src/main/webapp/META-INF/MANIFEST.MF
resthub-apps/booking/booking-tapestry5/src/main/webapp/META-INF/MANIFEST.MF
resthub-apps/roundtable/src/main/webapp/META-INF/MANIFEST.MF
resthub-core/src/main/java/META-INF/MANIFEST.MF
resthub-identity/resthub-identity-core/src/main/java/META-INF/MANIFEST.MF
resthub-identity/resthub-identity-manager/src/main/webapp/META-INF/MANIFEST.MF
resthub-oauth2/resthub-oauth2-spring-security/src/main/java/META-INF/MANIFEST.MF
resthub-tapestry5/resthub-tapestry5-components/src/main/java/META-INF/MANIFEST.MF
resthub-tapestry5/resthub-tapestry5-integration/src/main/java/META-INF/MANIFEST.MF
resthub-tapestry5/resthub-tapestry5-jpa/src/main/java/META-INF/MANIFEST.MF
resthub-tapestry5/resthub-tapestry5-spring-security/src/main/java/META-INF/MANIFEST.MF
resthub-web/resthub-web-common/src/main/java/META-INF/MANIFEST.MF
resthub-web/resthub-web-server/src/main/java/META-INF/MANIFEST.MF
.pmd
.checkstyle
