<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.0.xsd
                        http://www.springframework.org/schema/util 
                        http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<!--
		Enable bean declaration by annotations, update base package according
		to your project
	-->
	<context:annotation-config />
	<context:component-scan base-package="org.resthub.oauth2" />

	<!-- Declaration of the authorization service -->
	<bean name="authorizationService"
		class="org.resthub.oauth2.provider.service.AuthorizationServiceImpl">
		<property name="dao" ref="tokenDao" />
		<property name="tokenLifeTime" value="500" />
		<property name="tokenLength" value="15" />
		<property name="codeLifeTime" value="1" />
		<property name="authenticationProviders">
			<list>
				<ref bean="mockAuthenticationService" />
			</list>
		</property>
	</bean>

	<!-- Security configuration -->
	<util:properties id="securityConfig">
		<prop key="authorizationPassword">p@ssw0rd</prop>
		<prop key="cookieName">oauth_token</prop>
		<prop key="cookiePath">/</prop>
		<prop key="cookieDomain"></prop>
		<prop key="authenticationPage">http://localhost:9797/jsp/authent.jsp</prop>
	</util:properties>
</beans>
