<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<bean id="dataSource"
			class="${hibernate-class}">
		<property name="driverClassName" value="${hibernate-driver}" />
		<property name="url" value="${hibernate-url}" />
		<property name="username" value="${hibernate-username}"/>
		<property name="password" value="${hibernate-password}" />
	</bean>
	<!--
	<bean id="dataSource"
			class="${hibernate-class}">
			   "org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/odp_qlf" />
		<property name="username" value="${hibernate-username}" />
		<property name="password" value="${hibernate-password}" />
	</bean>
	-->
	<context:annotation-config/>
	<context:component-scan base-package="org.resthub.identity" />
 	
</beans>
