<p>
	<strong>Beds:</strong> ${booking.beds}
</p>
<p>
	<strong>Total:</strong> $ ${total}
</p>
<p>
	<strong>Check in date:</strong> ${booking.checkinDate}
</p>
<p>
	<strong>Check out date:</strong> ${booking.checkoutDate}
</p>
<p>
	<strong>Credit card #:</strong> ${booking.creditCardNumber}
</p>

{{if (mode == 'confirm')}}
	<p class="buttons">
		<input id="book-confirm" value="Confirm" type="button">
		<input id="book-revise" value="Revise" type="button">
		<a id="cancel-request" href="/#/hotel/<%= booking.hotel.id %>">Cancel</a>
	</p>
{{/if}}