<div class="rt-poll-list">
    <p class="result-summary">
        {{if (query != null && query != '') }}
            ${page.totalElements} poll(s) found foor query : ${query}
        {{else}}
            ${page.totalElements} total polls
        {{/if}}
    </p>

    <ul>
        {{if page.elements }}
            {{each(i, poll) page.elements}}
                <li class="poll-item" href="#/poll/${poll.id}" >
                    <h3>${poll.topic}
                        <span class="author">(by ${poll.author} on ${$item.formatDate(poll.creationDate)})</span>
                    </h3>
                    <blockquote><p>${poll.body}</p></blockquote>
                </li>
            {{/each}}
        {{/if}}
    </ul>
    {{if page.totalPages > 1 }}
        <ul class="pagination">
            {{each $item.getPages()}}
                <li class="{{if $index == page.number }} current {{/if}}">
                    <a href="#/poll?page=${$index}&q=${query}">${$index + 1}</a>
                </li>
            {{/each}}
        </ul>
    {{/if}}
<div>
