<div class="rt-poll-detail">
    <div class="body">
        {{if illustration }}
            <div class="illustration">
                <a href="api/illustration/${illustration}" target="_blank" class="zgal">
                    <img alt="illustration" src="api/thumbnail/${illustration}" />
                </a>
            </div>
        {{/if}}
        <blockquote>
            <p>${body}</p>
        </blockquote>
    </div>
    <div class="legend">
        <table cellspacing="1">
            <tbody>
                <tr>
                    <td style="height: 36px;"></td>
                </tr>
                <!-- list voters -->
                {{if voters }}
                    {{each(i, voter) voters}}
                        <tr>
                            <td class="rt-voter">
                                <span class="name">${voter.name}</span>
                            </td>
                        </tr>
                    {{/each}}
                {{/if}}
                <!-- end list voters -->
                <tr><td style="background-color: transparent; border: 0px none; height: 0.25em;"></td></tr>
                <tr>
                    <td class="rt-voter" >
                        <input type="text" name="you" value="" />
                    </td>
                </tr>
                <tr class="result"><td>Result</td></tr>
            </tbody>
        </table>
    </div>
    <div class="main">
        <table cellspacing="1">
            <tbody>
                <tr class="choices">
                    {{each(i, answer) answers}}
                        <th>${answer.body}</th>
                    {{/each}}
                    <th style="background-color: transparent; border: 0px none;width:50px;"></th>
                </tr>
                {{if voters }}
                    {{each(i, voter) voters}}
                        <tr class="votes">
                            {{each(j, answer) answers}}
                                <td class="${voter.votes[answer.order - 1].value}"
                                    title="${voter.name}, ${answer.body}: ${voter.votes[answer.order - 1].value}" >
                                </td>
                            {{/each}}
                            <td style="background-color: transparent; border: 0px none;"></td>
                        </tr>
                    {{/each}}
                {{/if}}
                <tr>
                    {{each answers}}
                        <td style="background-color: transparent; border: 0px none; height: 0.25em;"></td>
                    {{/each}}
                </tr>
                <tr class="rt-vote-inputs">
                    {{each(i, answer) answers}}
                        <td class="no rt-vote" title="${answer.body}" id="p-${id}-vote-${answer.order}"></td>
                    {{/each}}
                    <td>
                        <input type="button" value="Vote" title="Submit your vote" />
                    </td>
                </tr>
                <tr class="result">
                    {{each answers}}
                        <td>${$item.sumVotes($index)}</td>
                    {{/each}}
                    <td style="background-color: transparent; border: 0px none;"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

