{{if (!only_data)}}
	<h1>View hotel</h1>
{{/if}}

<p>
	<strong>Name:</strong> ${hotel.name}
</p>
<p>
	<strong>Address:</strong> ${hotel.address}
</p>
<p>
	<strong>City:</strong> ${hotel.city}
</p>
<p>
	<strong>State:</strong> ${hotel.state}
</p>
<p>
	<strong>Zip:</strong> ${hotel.zip}
</p>
<p>
	<strong>Country:</strong> ${hotel.country}
</p>
<p>
	<strong>Nightly rate:</strong> ${hotel.price}
</p>

{{if (!only_data) }}
	<p class="buttons">
		<input id="book-request" value="Book Hotel" type="button">
		<a id="cancel-request" href="#/home">Back to search</a>
	</p>
{{/if}}
