<div id="create-rt">
    <form action="" enctype="UTF-8">
        <fieldset>
            <legend>Create new poll</legend>
            <label for="inp_author">Author</label>
            <input type="text" id="inp_author" name="author" />

            <label for="inp_topic">Topic</label>
            <input type="text" id="inp_topic" name="topic" />

            <label for="inp_body">Body</label>
            <textarea id="inp_body" name="body" cols="10" rows="3"></textarea>

            <label for="inp_answer">New answer</label>
            <textarea id="inp_answer" name="answer" cols="10" rows="3"></textarea>

            <input type="button" value="Add answer" />

            <ul>
                <li></li>
            </ul>
        </fieldset>
    </form>
</div>

