<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:resthub="http://www.resthub.org/schema/context"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:oauth2="http://www.springframework.org/schema/security/oauth2"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
    http://www.springframework.org/schema/jdbc
    http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
    http://www.resthub.org/schema/context
    http://www.resthub.org/schema/context/resthub-context-1.0.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-3.0.xsd
    http://www.springframework.org/schema/security/oauth2
    http://www.springframework.org/schema/security/spring-security-oauth2.xsd">

	<context:annotation-config />
	<context:component-scan base-package="org.resthub.booking.security" />

	<jdbc:initialize-database data-source="dataSource" ignore-failures="ALL">
		<jdbc:script location="classpath:import-booking.sql" />
	</jdbc:initialize-database>
	
	<security:authentication-manager>
		<security:authentication-provider user-service-ref="bookingUserDetailsService"/>
	</security:authentication-manager>
	
	<security:http entry-point-ref="oauth2ProcessingFilterEntryPoint">
		<security:intercept-url pattern="/api/lucene/rebuild" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<security:intercept-url pattern="/api/**" access="ROLE_AUTH" />
		<security:access-denied-handler ref="oauth2AccessDeniedHandler" />
	</security:http>
	
	<bean id="oauth2AccessDeniedHandler" class="org.springframework.security.web.access.AccessDeniedHandlerImpl"/>	
	<bean id="tokenServices" class="org.springframework.security.oauth2.provider.token.InMemoryOAuth2ProviderTokenServices" />

	<oauth2:provider client-details-service-ref="clientDetails" token-services-ref="tokenServices" >
		<oauth2:verification-code disabled="true"/>
	</oauth2:provider>
		
	<oauth2:client-details-service id="clientDetails" >
		<oauth2:client clientId="booking" authorizedGrantTypes="password" />
	</oauth2:client-details-service>	
	
</beans>
