<% var l = function(string){ return string.toLocaleString()}; %>
<h1><%= l("UserEdit") %></h1>
<form id="user-form" action="" method="" enctype="UTF-8">
    <p>
        <strong><%= l("UserFirstName") %></strong>
        <input size="10" name="firstName" type="text" class="required">*
    </p>
    <p>
        <strong><%= l("UserLastName") %></strong>
        <input size="10" name="lastName" type="text" class="required">*
    </p>
    <p>
        <strong><%= l("UserLogin") %></strong>
        <input size="10" name="login" type="text" class="required">*
    </p>
    <p>
        <strong><%= l("UserPassword") %></strong>
        <input size="10" id="password" name="password" type="password" class="required">*<span id="passwordStrength"></span>
    </p>
    <p>
        <strong><%= l("UserPassword") %></strong>
        <input size="10" id="passwordCheck" name="passwordCheck" type="password" class="required">*<span id="passwordsAreEgals"></span>
    </p>
    <p>
        <strong><%= l("UserEmail") %></strong>
        <input size="10" name="email" type="text" class="required">*
    </p>
    <p>
        <strong><%= l("UserGroupList") %></strong>
        <p>
            <% if ($.isEmptyObject(groups)) { %>
            <span>[No groups available]</span>
            <% } else { %>
            <% for (var index in groups) { %>
            <input type="checkbox" name="usergroup" value="<%= groups[index].id %>"><%= groups[index].name %>
            <% } %>
            <% } %>
        </p>
    </p>
</form>
<p class="buttons">
    <input id="user-proceed" value="<%= l("UserCreateSubmitButton") %>" type="button"><a id="cancel-request" href="#/user/list"><%= l("BackToList") %></a>
</p>
