<% /**needed for localization of results*/
var l = function(string){ return string.toLocaleString()}; %>
<h1><%= l("UserUpdatePassword") %></h1>
<form id="user-form" action="" method="" enctype="UTF-8">
    <p id="password">
        <strong><%= l("UserPassword") %></strong>
        <input size="10" id="password" name="password" type="password" class="required">*<span id="passwordStrength"></span>
    </p>
    <p id="passwordCheck">
        <strong><%= l("UserPassword") %></strong>
        <input size="10" id="passwordCheck" name="passwordCheck" type="password" class="required">*<span id="passwordsAreEgals"></span>
    </p>
</form>
<p class="buttons">
    <input id="user-proceed" value="<%= l("UserUpdatePasswordSubmitButton") %>" type="button"><a id="cancel-request" href="#/user/list"><%= l("BackToList") %></a>
</p>
