<% l = function(string){ return string.toLocaleString()};%>
<h1><%= l("UserList")%></h1>

<% if ($.isEmptyObject(result.elements)) { %>
	<p><%= l("UserNoUsersFound")%></p>
<% } else { %>
<div id="commons-actions"><div id="delete"><%= l("UserDeleteThisUser") %></div></div>
	<table>
		<thead>
			<tr>
				<th></th>
				<th><%= l("UserIdHeader")%></th>
				<th><%= l("UserNameHeader")%></th>
				<th><%= l("UserLoginHeader")%></th>
				<th><%= l("UserEmailHeader")%></th>
				<th><%= l("UserActionsHeader")%></th>
			</tr>
		</thead>
		<tbody>
			<% var users = result.elements %>
			<% for (var index in users) { %>
				<tr class="user-item" id="user-<%= users[index].id %>">
					<td><input type='checkbox' class="user-checkbox" id='checkbox-<%= index %>' user='<%= users[index].id %>' /></td>
					<td><%= users[index].id %></td>
					<td><%= users[index].firstName + ' ' + users[index].lastName %></td>
					<td><%= users[index].login %></td>
					<td><%= users[index].email %></td>
					<td>
						<%= link_to( 'details', '#/user/details/' + users[index].login ) %>
						<span class="remove-user" id="<%= index %>"><%= l("UserDeleteThoseUsers")%></span>
					</td>
				</tr>
			<% } %>
		</tbody>
	</table>
	<br/><%= l("PageNavigator")%><br/>
	<% if (result.number > 0) { %>
		<span class="page-switcher" id="page-<%= result.number - 1 %>"><%= l("Previous") %></span>
	<% } %>

	<% for (var page=1; page <= result.totalPages; page++) { %>
		<% if (page == result.number + 1) { %>
			<span> <%= page %> </span>
		<% } else { %>
			<span class="page-switcher" id="page-<%= page - 1 %>"> <%= page %> </span>
		<% } %>
	<% } %>

	<% if (result.number < result.totalPages - 1) { %>
		<span class="page-switcher" id="page-<%= result.number + 1 %>"><%= l("Next") %></span>
	<% } %>
<% } %>