<h1><%= l("UserDetails")%>:<%= user.login %></h1>
<table>
   <thead>
	   <tr>
		   <th><%= l("UserIdHeader")%></th>
		   <th><%= l("UserNameHeader")%></th>
		   <th><%= l("UserLoginHeader")%></th>
		   <th><%= l("UserEmailHeader")%></th>
		   
	   </tr>
   </thead>
   <tbody>
	   <tr>
		   <td><%= user.id %></td>
		   <td><%= user.firstName + ' ' + user.lastName %></td>
		   <td><%= user.login %></td>
		   <td><%= user.email %></td>
	   </tr>
   </tbody>
</table>

<div id="user-groups-list">
	
</div>