<%  var l = function(string){ return string.toLocaleString() }%>
<h1><%= l("GroupEdit") %></h1>

<form id="group-form" action="" method="" enctype="UTF-8">

	<p>
		<strong><%= l("GroupName") %></strong>
		<input size="10" name="name" type="text" class="required"> *
	</p>

		<strong><%= l("GroupUsersList") %></strong>
		<p>
			<% if ($.isEmptyObject(users)) { %>
				<span>[No users available]</span>
			<% } else { %>
				<% for (var index in users) { %>
					<input type="checkbox" name="usergroup" value="<%= users[index].id %>" /> <%= users[index].firstName %> <%= users[index].lastName %>
				<% } %>
			<% } %>
		</p>
	</p>
	
</form>

<p class="buttons">
	<input id="group-proceed" value="<%= l("GroupSubmitButton")%>" type="button">
	<a id="cancel-request" href="#/group/list"><%= l("BackToList")%></a>
</p>