<%  var l = function(string){ return string.toLocaleString() }%>
<h1><%= l("GroupList") %></h1>

<% if ($.isEmptyObject(result.elements)) { %>
	<p><%= l("NoGroupsFound")%></p>
<% } else { %>
	<table>
		<thead>
			<tr>
				<th><%= l("GroupIdHeader")%></th>
				<th><%= l("GroupNameHeader")%></th>
			</tr>
		</thead>
		<tbody>
			<% var groups = result.elements %>
			<% for (var index in groups) { %>
				<tr class="group-item" id="group-<%= groups[index].id %>">
					<td><%= groups[index].id %></td>
					<td><%= groups[index].name %></td>
				</tr>
			<% } %>
		</tbody>
	</table>

	<br/><%= l("PageNavigator")%><br/>
	<% if (result.number > 0) { %>
		<span class="page-switcher" id="page-<%= result.number - 1 %>"><%= l("Previous") %></span>
	<% } %>

	<% for (var page=1; page <= result.totalPages; page++) { %>
		<% if (page == result.number + 1) { %>
			<span> <%= page %> </span>
		<% } else { %>
			<span class="page-switcher" id="page-<%= page - 1 %>"> <%= page %> </span>
		<% } %>
	<% } %>

	<% if (result.number < result.totalPages - 1) { %>
		<span class="page-switcher" id="page-<%= result.number + 1 %>"><%= l("Next") %></span>
	<% } %>
<% } %>