<% /**Variable used for text localization with l10n*/ var l = function(string){ return string.toLocaleString() } %>
<h1><%= l("GroupList") %></h1>
<% if ($.isEmptyObject(result.elements)) { %>
<p>
    <%= l("NoGroupsFound") %>
</p>
<% } else { %>
<div id="commons-actions">
    <div id="delete">
        <%= l("GroupDeleteThoseGroups") %>
    </div>
</div>
<table>
    <thead>
        <tr>
            <th>
            </th>
            <th>
                <%= l("GroupIdHeader") %>
            </th>
            <th>
                <%= l("GroupNameHeader") %>
            </th>
            <th>
                <%= l("GroupSubHeader") %>
            </th>
            <th>
                <%= l("GroupPermissionsHeader") %>
            </th>
            <th>
                <%= l("GroupActionsHeader") %>
            </th>
        </tr>
    </thead>
    <tbody>
        <% var groups = result.elements %>
        <% for (var index in groups) { %>
        <tr class="group-item" id="group-<%= groups[index].id %>">
            <td>
                <input type='checkbox' class="group-checkbox" id='checkbox-<%= index %>' user='<%= groups[index].id %>' />
            </td>
            <td>
                <%= groups[index].id %>
            </td>
            <td>
                <%= groups[index].name %>
            </td>
            <td>
                <%= link_to( l("GroupSubGroups"), '#/group/groups/'+groups[index].name )%>
            </td>
            <td>
                <%= link_to( l("GroupPermissions"), '#/group/permissions/'+groups[index].name )%>
            </td>
            <td>
                <span class="remove-group" id="<%= index %>"><%= l("GroupDeleteThisGroup") %></span>
            </td>
        </tr>
        <% } %>
    </tbody>
</table>
<br/>
<%= l("PageNavigator") %>
<br/>
<% if (result.number > 0) { %>
<span class="page-switcher" id="page-<%= result.number - 1 %>"><%= l("Previous") %></span>
<% } %>
<% for (var page=1; page <= result.totalPages; page++) { %>
<% if (page == result.number + 1) { %>
<span><%= page %></span>
<% } else { %>
<span class="page-switcher" id="page-<%= page - 1 %>"><%= page %></span>
<% } %>
<% } %>
<% if (result.number < result.totalPages - 1) { %>
<span class="page-switcher" id="page-<%= result.number + 1 %>"><%= l("Next") %></span>
<% } %>
<% } %>