<h1><%= l("GroupDetails") %></h1>
<table>
	<thead>
		<tr>
			<th><%= l("GroupDetails") %></th>
			<th><%= l("GroupActionsHeader") %></th>
		</tr>
	</thead>
	<tbody>
		<% var users = group.users %>
		<% for(index in users) { %>
			<tr>
				<td>
					<%= users[index].firstName + ' ' + users[index].lastName %>
				</td>
				<td>
					<%= link_to( 'details', '#/user/details/' + users[index].login ) %>
					<span class="remove-user" id="<%= users[index].login %>"><%= l("GroupRemoveUser")%></span>
				</td>
			</tr>
		<% } %>
	</tbody>
</table>