<a href="#" class="logout">Logout</a>
<div class="home">
	<h1>Welcome <%= user.firstName %> <%= user.lastName %></h1>
	
	<form id="passwordChange">
		<h2>Password edition</h2>
		<div>
			<label>New value: </label><input type="password" name="password"/>
			<span class="formError" id="passwordError"></span>
		</div>
		<div>
			<label>Confirmation: </label><input type="password" name="confirm"/>
			<span class="formError" id="confirmError"></span>
		</div>
		<a href="#" class="submit">Change password</a>
	</form>
</div>
