/* -------------------------------------------------------------------- 
            GRAPHIKAWWA 1.0 - Structuration
          By Le Studio, Atos Worldline, 2010
-------------------------------------------------------------------- */

/* Defines main page structure, from zero to three columns layout. 
 * Used in combination with the theme stylesheet.
 * For performance issues, add these declarations to your main CSS
 */


/* -------------------------- 1 / CONTAINER ------------------------ */
#container {
	position: relative;
	width: 100%;
	margin: 0 auto;
}

/* -------------------------- 2 / HEADER --------------------------- */
#header {
	clear: both;
	position: relative;
	width: 100%;
	height: 80px;
}

/* -------------------------- 3 / NAVBAR --------------------------- */
#navbar {
	position: relative;
	overflow: hidden;
	width: 100%;
}

/* -------------------------- 4 / WRAPPER --------------------------- */
#wrapper { 
	position: relative;
	float: left;
	width: 100%;
}

/* -------------------------- 5 / MENU ------------------------------ */
#menu { 
	float: left;
	width: 115px;
}

/* -------------------------- 6 / SIDEBAR --------------------------- */
#sidebar { 
	float: right;
	width: 220px;
}

/* -------------------------- 7 / MAIN --------------------------- */
#main { 
	position: relative;
	width: auto;
	}
#menu + #main {margin-left: 115px;} /* If #menu is present */
#sidebar + #main {margin-right: 220px;} /* If #sidebar is present */
#menu + #sidebar + #main {margin-left: 115px;} /* If #menu AND #sidebar are present */

/* -------------------------- 8 / FOTTER --------------------------- */
#footer { 
	clear: both;
	position: relative;
	width: 100%;
}




/* -------------------------- SIZES --------------------------- */
.w100pc { width: 99%; }
.w75pc { width: 73%; }
.w50pc { width: 45%; }
.w33pc { width: 30%; }
.w25pc { width: 23%; }
.w20pc { width: 20%; }
.w10pc { width: 20%; }