<%/**Variable used for text localization with l10n*/ var l = function(string){ return string.toLocaleString()}; %>
<h1><%= l("EntityPermissionsList") %> : <%= name %></h1>
<% if ($.isEmptyObject(result)) { %>
<p>
    <%= l("EntityNoPermissionsFound") %>
</p>
<% } else { %>
<div id="commons-actions">
    <div id="delete">
        <%= l("EntityDeleteThisPermission") %>
    </div>
</div>
<table>
    <thead>
        <tr>
            <th>
            </th>
            <th>
                <%= l("EntityPermissionsHeader") %>
            </th>
            <th>
                <%= l("EntityPermissionsActionsHeader") %>
            </th>
        </tr>
    </thead>
    <tbody>
        <% var permissions = result %>
        <% for (var index in permissions) { %>
        <tr class="permission-item" id="user-<%= permissions[index] %>">
            <td>
                <input type='checkbox' class="permission-checkbox" id='checkbox-<%= index %>' permission='<%= permissions[index] %>' />
            </td>
            <td>
                <%= permissions[index] %>
            </td>
            <td>
                <span class="remove-permission" id="<%= index %>"><%= l("EntityRemoveThisPermissionsForEntity") %></span>
            </td>
        </tr>
        <% } %>
    </tbody>
</table>
<% } %>
<br/>
<%= l("EntityAddPermission") %><br/>
<input type="text" id="entityAddPermission">
</input><input type="button" id="entityAddPermissionButton" value="<%=l('EntityAddPermissionButton') %>">
</input>