html {
	background: #e0e0e0;
}

body {
	width: 690px;
	margin: 20px auto;
	font-family: Arial;
	font-size: 90%;
	color: rgb(54, 47, 45);
	background: #fff;
}

#header {
	padding: 10px;
	background: #888888;
}

#content {
	padding: 20px;
	background: #bbbbbb;
}

#footer {
	padding: 10px;
	background: #888888;
}