<ul>
    <% if ($.isEmptyObject(polls)) {%>
        <li>No polls found...</li>
    <% } else { %>
        <% for(var i = 0; i < polls.length ; i++) { %>
            <% var poll = polls[i] %>
            <li class="poll-item" id="poll-<%= poll.id %>" >
                <h3><%= poll.topic %>
                    <% var date = new Date(poll.creationDate) %>
                    <span class="author">(by <%= poll.author %> on <%= date.toDateString() %>)</span>
                </h3>
                <p><%= poll.body %></p>
            </li>
        <% } %>
    <% } %>
</ul>
<% if (!$.isEmptyObject(polls) && polls.length % 5 == 0) {%>
    <a href="#/poll?page=<%= page + 1 %>&q=<%= query %>" class="more">Next Page &gt;</a>
<% } %>
