<ul>
    <% if ($.isEmptyObject(page.elements)) {%>
        <li>No polls found...</li>
    <% } else { %>
        <% for(var i = 0; i < page.elements.length ; i++) { %>
            <% var poll = page.elements[i] %>
            <li class="poll-item" id="poll-<%= poll.id %>" >
                <h3><%= poll.topic %>
                    <% var date = new Date(poll.creationDate) %>
                    <span class="author">(by <%= poll.author %> on <%= date.toDateString() %>)</span>
                </h3>
                <p><%= poll.body %></p>
            </li>
        <% } %>
    <% } %>
</ul>

<% if (page.totalPages > 1) {%>
    <ul class="pagination">
        <% for(var i = 0; i < page.totalPages ; i++) { %>
            <% var clazz = (i == page.number) ? 'current' : '' %>
            <li class="<%= clazz %>">
                <a href="#/poll?page=<%= i %>&q=<%= query %>"><%= i %></a>
            </li>
        <% } %>
    </ul>
<% } %>
