<div class="poll">
    <h2><%= body %></h2>
    <div class="legend">
        <table cellspacing="1">
            <tbody>
                <tr>
                    <td style="height: 36px;"></td>
                </tr>
                <!-- list voters -->
                <% if (!$.isEmptyObject(voters)) {%>
                    <% for each(voter in voters) { %>
                        <tr>
                            <td class="rt-voter">
                                <span class="name"><%= voter.name %></span>
                            </td>
                        </tr>
                    <% } %>
                <% } %>
                <!-- end list voters -->
                <tr><td style="background-color: transparent; border: 0px none; height: 0.25em;"></td></tr>
                <tr>
                    <td class="rt-voter" >
                        <input type="text" name="you" value="" />
                    </td>
                </tr>
                <tr class="result"><td>Result</td></tr>
            </tbody>
        </table>
    </div>
    <div class="main">
        <table cellspacing="1">
            <tbody>
                <tr class="choices">
                    <% for each(answer in answers) {%>
                        <th><%= answer.body %></th>
                    <% } %>
                    <th style="background-color: transparent; border: 0px none;width:50px;"></th>
                </tr>
                <% if (!$.isEmptyObject(voters)) {%>
                    <% for each(voter in voters) {%>
                        <tr class="votes">
                            <% for each(answer in answers) {%>
                                <% var vote = voter.votes[answer.order - 1] %>
                                <td class="<%= vote.value %>" title="<%= voter %>, <%= answer.body %>: <%= vote.value %>" ></td>
                            <% } %>
                            <td style="background-color: transparent; border: 0px none;"></td>
                        </tr>
                    <% } %>
                <% } %>
                <tr>
                    <% for each(answer in answers) {%>
                        <td style="background-color: transparent; border: 0px none; height: 0.25em;"></td>
                    <% } %>
                </tr>
                <tr class="rt-vote-inputs">
                    <% for each(answer in answers) {%>
                        <td class="no rt-vote" title="<%= answer.body %>" id="p-<%= id %>-vote-<%= answer.order %>"></td>
                    <% } %>
                    <td>
                        <input type="button" value="Vote" title="Submit your vote" />
                    </td>
                </tr>
                <tr class="result">
                    <% for(var i = 0; i < answers.length ; i++) {%>
                        <% var vote_sum = 0 %>
                        <% if (!$.isEmptyObject(voters)) {%>
                            <% for each(voter in voters) {%>
                                <% vote_sum += (voter.votes[i].value == "yes") ? 1 : 0 %>
                            <% } %>
                        <% } %>
                        <td class="<%= (vote_sum > 0) ? 'bold' : '' %>" ><%= vote_sum %></td>
                    <% } %>
                    <td style="background-color: transparent; border: 0px none;"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

