<beans 	xmlns="http://www.springframework.org/schema/beans"
		xmlns:util="http://www.springframework.org/schema/util"
		xmlns:jpa="http://www.springframework.org/schema/data/jpa"
		xmlns:mvc="http://www.springframework.org/schema/mvc">
		
	<jpa:repositories base-package="org.resthub.roundtable.repository" />
	<util:properties id="config" location="classpath:/rt.properties" />
	<mvc:default-servlet-handler />
	
</beans>
