h1 {
	width: 100%;
	font-size: 1.3em;
	border-bottom: 1px solid #CCCCCC;
	margin: 30px 0px 20px 0px;	
}

#header #title {
    display: block;
    font-size: 1.5em;
    padding: 20px 0px 0px 50px;
}

.ui-widget {
	font-size: 0.9em;
}

#main {
	padding-top: 50px;	
}

.manage #userList {
	padding-bottom: 50px;	
}
.manage #userEdition {
	display: table;
	width: 100%;
}
.manage #editionRow {
	display: table-row;
}
.manage #userDetails {
	display: table-cell;
}
.manage #permissions {
	display: table-cell;
	padding-left: 50px;
}
.manage #userDetails input[type=submit] {
	margin-left: 50px;	
	margin-top: 50px;	
}
.manage #userDetails > div {
	margin-bottom: 10px;
}	
	
.manage #permissions label {
	float:none;
}
.manage #userPermissions {
	width: auto;
}
.manage .userRemove,
.manage .permissionRemove {
	margin-left: 10px;
}
.manage .permissionRemove,
.manage .userRemove,
.manage .userEdit {
	font-size: 0.7em;
}

.formError {
	color: red;
	font-size: 0.7em;
	display: block;
	max-width: 450px;	
}

.logout {
	float: right;
}