/* ---------------------------------------------------------------------------------------------------------------------
	General styles 	
 */

h1 {
	width: 100%;
	font-size: 1.3em;
	border-bottom: 1px solid #CCCCCC;
	margin: 30px 0px 20px 0px;	
}

.ui-widget {
	font-size: 0.9em;
}

.formError {
	color: red;
	font-size: 0.7em;
	display: block;
	max-width: 450px;	
}

/* ---------------------------------------------------------------------------------------------------------------------
	General layout
 */

#header #title {
    display: block;
    font-size: 1.5em;
    padding: 20px 0px 0px 50px;
}

#wrapper {
	padding: 0;
}

#wrapper > * {
	padding: 2%;
}

#main {
	padding-top: 50px;	
}

#wrapper .logout {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    padding: 0;
}

#loading {
	background: url(img/loading.gif) no-repeat center;
	display: none;
	height: 22px;
    margin-top: -27px;
    padding-bottom: 5px;
    position: relative;
    width: 100%;
    z-index: 101;
}

/* ---------------------------------------------------------------------------------------------------------------------
	User/group management
 */

.userRemove,
.permissionRemove,
.groupRemove {
		margin-left: 10px;
}
.permissionRemove,
.userRemove,
.userEdit,
.groupRemove,
.groupEdit,
.buttonBar {
	font-size: 0.7em;
}

.buttonBar {
    text-align: right;
    padding: 5px;
}

/* User/group list */

#userList, #groupList {
	padding-bottom: 50px;	
}
#userList th:last-child,
#groupList th:last-child {
	width: 25%;
}

#editionRow {
	display: table-row;
}

/* User/group edition */

#userEdition, #groupEdition {
	display: table;
	width: 100%;
}
#userDetails, #groupDetails {
	display: table-cell;
}
#userDetails input[type=submit],
#groupDetails input[type=submit] {
	margin-left: 50px;	
	margin-top: 50px;	
}
#userDetails > div,
#groupDetails > div {
	margin-bottom: 10px;
}	

/* Permission management */

#userPermissions, #groupPermissions {
	width: auto;
}
#permissions {
	display: table-cell;
	padding-left: 50px;
}
#permissions label {
	float:none;
}