table {
	background-color: black;
	/*border: 1px black solid;*/
	border-collapse: collapse;
	width: 60%;
}
th {
	/*border: 1px outset silver;*/
	background-color: #003366;
	color: white;
}
tr {
	background-color: white;
	margin: 1px;
}
tr.striped {
	background-color: #E8E8E8;
}
td {
	padding: 1px 8px;
	text-align: center;
}
