<p class="">
	<strong>Check In Date:</strong>
	<input size="10" name="checkinDate" class="datepicker hasDatepicker" value="" type="text"> *
	<span class="error"></span>
</p>

<p class="">
	<strong>Check Out Date:</strong>
	<input size="10" name="checkoutDate" class="datepicker hasDatepicker" value="" type="text"> *
	<span class="error"></span>
</p>

<p>
	<strong>Room preference:</strong>
	<select name="beds" size="1">
		<option value="1">One king-size bed</option>
		<option value="2">Two double beds</option>
		<option value="3">Three beds</option>
	</select>
</p>

<p>
	<strong>Smoking preference:</strong>
	<input name="smoking" value="true" type="radio"> Smoking
	<input name="smoking" value="false" checked="checked" type="radio"> Non smoking
</p>

<p class="">
	<strong>Credit Card #:</strong>
	<input name="creditCard" size="16" value="" type="text"> *
	<span class="error"></span>
</p>

<p class="">
	<strong>Credit Card Name:</strong>
	<input name="creditCardName" size="16" value="" type="text"> *
	<span class="error"></span>
</p>

<p>
	<strong>Credit Card Expiry:</strong>
	<select name="creditCardExpiryMonth" size="1" value="">
		<option value="1">Jan</option>
		<option value="2">Feb</option>
		<option value="3">Mar</option>
		<option value="4">Apr</option>
		<option value="5">May</option>
		<option value="6">Jun</option>
		<option value="7">Jul</option>
		<option value="8">Aug</option>
		<option value="9">Sep</option>
		<option value="10">Oct</option>
		<option value="11">Nov</option>
		<option value="112">Dec</option>
	</select>

	<select name="creditCardExpiryYear" size="1" value="">
		<option value="2008">2008</option>
		<option value="2009">2009</option>
		<option value="2010">2010</option>
		<option value="2011">2011</option>
		<option value="2012">2012</option>
	</select>
</p>

